html {
    position: relative;
    min-height: 100%;
    font-size: 18px;
}

body {
    margin-bottom: 60px;
}

.container {
    min-width: 325px;
}

.card {
    background-color: transparent;
    border: none;
}

.card-img-top {
    padding: 1rem;
    padding-bottom: 0;
}

    .card-img-top object {
        width: 100%;
        height: 225px;
        object-fit: cover;
    }

.card-body {
    padding-top: 0;
}

.card-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Media queries*/

@media (max-width: 768px) {
    html {
        font-size: 16px;
    }
}
